<!-- ================= start slider section ================= -->
    <section class="py-5">
      <h2 class="sr-only">اسلایدر فروشگاه</h2>
      <!-- for seo -->
      <div class="container">
        <div class="w-full overflow-hidden">
          <div
            class="swiper max-w-[1920px] mx-auto !relative default-carousel swiper-container"
            aria-label="اسلایدر فروشگاه"
          >
          <div class="swiper-wrapper" style="padding-bottom: 0 !important">
            <div
              class="swiper-slide max-w-[1920px]"
              role="group"
              aria-roledescription="slide"
            >
              <a href="#" aria-label="تصویر 1 از اسلایدر فروشگاه">
                <div class="h-90 flex justify-center items-center">
                  <img
                    src="assets/slider/1.jpg"
                    class="h-full w-full object-cover rounded-lg"
                    loading="lazy"
                    alt="تصویر تبلیغاتی اسلایدر فروشگاه - محصول ویژه 1"
                  />
                </div>
              </a>
            </div>
            <div class="swiper-slide" role="group" aria-roledescription="slide">
              <a href="#" aria-label="تصویر 2 از اسلایدر فروشگاه">
                <div class="h-90 flex justify-center items-center">
                  <img
                    src="assets/slider/2.jpg"
                    class="h-full object-cover w-full rounded-lg"
                    loading="lazy"
                    alt="تصویر تبلیغاتی اسلایدر فروشگاه - محصول ویژه 2"
                  />
                </div>
              </a>
            </div>
            <div class="swiper-slide" role="group" aria-roledescription="slide">
              <a href="#" aria-label="تصویر 3 از اسلایدر فروشگاه">
                <div class="h-90 flex justify-center items-center">
                  <img
                    src="assets/slider/3.jpg"                    
                     class="h-full object-cover w-full rounded-lg"
                    loading="lazy"
                    alt="تصویر تبلیغاتی اسلایدر فروشگاه - محصول ویژه 4"
                  />
                </div>
              </a>
            </div>
            <div class="swiper-slide" role="group" aria-roledescription="slide">
              <a href="#" aria-label="تصویر 3 از اسلایدر فروشگاه">
                <div class="h-90 flex justify-center items-center">
                  <img
                    src="assets/slider/4.jpg"                    
                     class="h-full object-cover w-full rounded-lg"
                    loading="lazy"
                    alt="تصویر تبلیغاتی اسلایدر فروشگاه - محصول ویژه 3"
                  />
                </div>
              </a>
            </div>

          </div>
          <div
            class="swiper-button-next bg-white rounded-full dark:bg-zinc-800 border border-gray-200 !size-12 after:!text-xl px-3 after:text-primary"
            aria-label="اسلاید بعدی"
          ></div>
          <div
            class="swiper-button-prev bg-white rounded-full dark:bg-zinc-800 border border-gray-200 !size-12 after:!text-xl px-3 after:text-primary"
            aria-label="اسلاید قبلی"
          ></div>
          <div
            class="swiper-pagination !z-30 !bottom-0"
            aria-label="صفحه بندی اسلایدر"
          ></div>
          <div
            class="slider-pagination-bg absolute w-40 h-10 -translate-x-1/2 -mb-3 pt-1 end-1/2 bottom-0 z-10"
          ></div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================= end slider section ================= -->
